/*
Css alternativo
*/
body
{
	color: #5a5a5a;
	font-family: Helvetica, Arial;
	font-size: 16px;/*Tamañano de fuente global*/
	padding-top: 10px;
	padding-bottom: 40px;	      
}

.cuadroDireccion
{
	background: rgba(0,0,0,0.5);
	border: 5px solid black;
	color: white;
	font-size: 1em;
	padding: 20px 5px 10px 10px;
}


.direccion
{
	color:#007C00;
	font-family: Tahoma;
	padding: 1em;
	text-align: center;
}
.encabezado
{
	color: #007C00;
	display: inline-block;
	font-family: Tahoma;
	font-size: 60px;
	padding: 0.2em;
}

.logo img
{
	display: block;
	height: 180px;
	transition: all 0.5s linear;
	-webkit-transition: all 2s ease-in;
	width: 150px;
}

.logo img:hover
{
	transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
}

.pieDePagina
{
	background: #161615;
	border-radius: 0.5em;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.4);
	color: white;
	display: block;
	margin: 1em auto;
	padding: 8px;
	width: 70%;
}


@media (max-width: 767px) {
	.logo img
	{
		position: relative;
		left: 30%;		
	}
}